# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Go
/pdf2video
/bin/
go.work

# Source Data (PDFs)
*.pdf

# Processed Files (Output)
*.mp4
*.png
/tmp/
output/
input/audio/
input/pdf/
input/video/

# Project Management
project_meta/
