# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Go
/pdf2video
/bin/
/main
/make_video
go.work

# Source Data (PDFs)
*.pdf

# Processed Files (Output)
*.mp4
*.png
/tmp/
output/
input/audio/
input/pdf/
input/video/
input/images/

# Project Management
project_meta/
*.log

# Generated Scenarios
internal/scenarios/*.yaml

# Binaries and Tests
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
benchmark_app
disk_less
generate_speed
pipelined_app
pdf2video_mod
pdf2video_test
